// background colors
$bg-gray: #f8f8f8;
$bg-white: #ffffff;

// text colors
$main-blue: #0072d2;
$dark-blue: #2244a1;
$text-black: #010103;

$text-orange: #ff4d30;

$btn-black: #161616;
$text-gray: #3b3b3b;

// shadow colors
$main-shadow: rgba(48, 103, 255, 0.35);
$dark-shadow: rgba(48, 79, 255, 0.5);
